<div class="d-flex flex-column my-3">
  <div class="title">Resume</div>

  <div class="m-auto">

    <div class="items text-center">
      <span>Frontend | <span class="coloured">Salesforce Developer</span></span>
      <span> <span class="coloured">Angular 2-7</span> | Graphic Design | <span class="coloured">IT</span></span>
    </div>

    <div class="subtitle">Experience</div>

    <pre class="content">
      <div class="items">
        <div>Mobile Computing (Angular 2+ and Salesforce Developer)</div>
        <div>December 2016 - Present</div>
      </div>

      Angular Frontend Developer:
      Business software development for a Multinational Company (AB inBev). 
      The working system was the following:
      
      SCRUM and Agile methodology
      Code Review and Pull Request System
      Git Flow and team working scheme
      Responsive stylesheet using css3 (media queries, :last-child, etc) and Sass 
      with no !importants and global styles architecture paradigm
      Latest paradigms like Lazy Loading, PWA with Service Workers
      Coding good practices
      Unit testing with Jasmine
      
      Some developments included works with google maps, charts, chats with push 
      notifications for mobile and desktop, excel online working and generation, etc.
      I was working as the only front end developer of the team, being able to deploy 
      in a year 4 different apps and support the old applications. My work was always 
      prized for the intuitive and nice styling and for the fast development with 
      minimal quantity of errors and zero critical bugs.
      
      Salesforce Developer and Administration:
      Salesforce uses Unit Testing as a developing methodology, with a code
      coverage of 75% required to implement development in production.
      The working schema was the following:
      
      Lightning design system
      Deployments using packages (instead of sandbox system)
      High importance to styling and responsive apps
      Builder classes for tests
      Test coverage with real test, with positives and negatives tests
      Data loading with Salesforce Dataloader
      Good practices
      
      The most successful application was a gantt used to manage projects, 
      setting the due dates, managers and child projects. The data 
      had a great visualization, being able to drag the bars in the timeline. 
      The app was awarded and deployed to the instances of China and Australia, 
      not only South American region.
      
    </pre>


    <pre class="content">
      <div class="items">
        <div>Xappia (Salesforce Developer)</div>
        <div>April 2016 - December 2016</div>
      </div>

      Salesforce Developer for a Salesforce Partner, working for multiple projects 
      and clients with the following schema:
      
      High importance to testing with builder classes and no fake testing
      Sandbox deployment system
      Good practices as avoiding governor limits
      Helper classes
      
      The apps developed were unique, with different level of complexity, 
      that included one that had a google map to track the position and routes
      for delivers, showing the time left for the current point to point travel
      and the status; also many works with Monsanto that had an immense 
      dimension system, having to develop everything as bulk,
      with async and future methods.
      
    </pre>

    <pre class="content">
      <div class="items">
        <div>Web and Mobile Software (Full stack developer)</div>
        <div>August 2015 - December 2015</div>
      </div>

      Web and mobile apps development using Ionic, AngularJS, Laravel 5.1, 
      PHP, MySQL, HTML5, CSS3 and Javascript
    </pre>

    <div class="subtitle">Education</div>

    <pre class="content">
        Graphic Designer
        Fundación Gutenberg 
        Student 1/3 (2018 - In progress)
    </pre>
    <pre class="content">
        Programmer
        Universidad Tecnológica Nacional
        Senior Technician (2014 – 2016)
    </pre>

    <div class="subtitle">Skills</div>
    <pre class="content">
        Languages
        divish: main language
        English: advanced oral and writing level with fluency
        Chinese: basic level with great pronunciation
    </pre>
    <pre class="content">
        Computing & Graphic Design
        Vector design programs: Corel Draw and Adobe Illustrator
        Bitmaps editing program: Adobe Photoshop and SAI
        Video editing program: Sony Vegas
        Office programs: Microsoft Office Suite and Open Office Suite
        Operating Systems: Windows and Linux (Ubuntu and Mint)
    </pre>

  </div>

  <a class="link main-link">Download</a>
  <a class="link secondary-link" routerLink="">Back</a>
</div>
